body {
  color: $color-primary;
  padding: 0;
  margin: 0;
  @include async-font("Roboto");
}

* {
  margin-top: 0;
}

h1, h2, h3 {
  @include async-font("Merriweather", serif);
}

hr {
  width: 4rem;
  margin: 1.4rem auto;
}

pre {
  background: #ddd;
  padding: 1em;
  overflow: auto;
}
code {
  background: #ddd;
  padding: 0 4px;
}
