.page,
.post {
  text-align: left;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;

  &-title {
    text-align: center;
  }

  &-date {
    text-align: center;
    margin: 0;
  }

  &-permalink {
    font-size: 22px;
    color: #699;

    &:hover, 
    &:focus {
      color: #9BC2C2;
      outline: none;
    }
  }

  &-summary {
    margin: 0 auto;
    max-width: 400px;
  }
  &-footer {
    margin-top: 1rem;
    padding: 1rem;
    background: #eee;

    a {
      color: $color-accent;
    }
  }
}
