$xs: 400;
$sm: 768;
$md: 960;
$lg: 1024;
$xl: 1200;

@mixin media-up($breakpoint) {
  @media screen and (min-width: #{$breakpoint}px) {
    @content;
  }
}

@mixin media-down($breakpoint) {
  @media screen and (max-width: #{$breakpoint}px) {
    @content;
  }
}
