header {
  text-align: center;

  .home-link {
    color: $color-primary;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
      outline: none;
    }
  }

  .contact-link {
    color: #699;
    text-decoration: none;
    text-transform: lowercase;

    &:hover,
    &:focus {
      outline: none;
      color: #9BC2C2;
      text-decoration: underline;
    }
  }

  .site-greeting {
    margin: 0; 
    font-size: 64px;
    font-weight: 900;
    text-transform: lowercase;
    line-height: 1.8;
  }

  .site-name {
    margin: 0; 
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 1.6;
  }
}
