.billboard {
  min-height: 100vh;

  @include media-up($md) {
    display: flex;
    flex-direction: row;
  }

  &-content {
    padding: 1rem;
    @include media-up($md) {
      display: flex;
      width: 50%;
      order: 2;
      flex-direction: column;
      justify-content: center;
    }
  }

  &-headline {
    font-size: 2rem;

    @include media-up($sm) {
      font-size: 3rem;
    }

    @include media-up($md) {
      font-size: 4rem;
    }

    &--subtitle {
      display: block;
      font-size: .5em;
    }
  }

  &-description {
  }

  &-code {
    color: white;
    font-family: monospace;
    font-size: 1.4rem;
    white-space: pre-wrap;

    &-container {
      background: $code-bg;
      padding: 1em;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include media-up($md) {
        order: 1;
        width: 400px;
      }

      @include media-up($lg) {
        width: 50%;
      }
    }

    .json-key {
      color: $code-green;
    }
    .json-value {
      color: $code-purple;
    }
  }
}
