body {
  color: #222;
  padding: 0;
  margin: 0;
  font-family: sans-serif; }
  .no-js body {
    font-family: "Roboto", sans-serif; }
  .wf-active body {
    font-family: "Roboto", sans-serif; }

* {
  margin-top: 0; }

h1, h2, h3 {
  font-family: serif; }
  .no-js h1, .no-js h2, .no-js h3 {
    font-family: "Merriweather", serif; }
  .wf-active h1, .wf-active h2, .wf-active h3 {
    font-family: "Merriweather", serif; }

hr {
  width: 4rem;
  margin: 1.4rem auto; }

pre {
  background: #ddd;
  padding: 1em;
  overflow: auto; }

code {
  background: #ddd;
  padding: 0 4px; }

header {
  text-align: center; }
  header .home-link {
    color: #222;
    text-decoration: none; }
    header .home-link:hover, header .home-link:focus {
      text-decoration: underline;
      outline: none; }
  header .contact-link {
    color: #699;
    text-decoration: none;
    text-transform: lowercase; }
    header .contact-link:hover, header .contact-link:focus {
      outline: none;
      color: #9BC2C2;
      text-decoration: underline; }
  header .site-greeting {
    margin: 0;
    font-size: 64px;
    font-weight: 900;
    text-transform: lowercase;
    line-height: 1.8; }
  header .site-name {
    margin: 0;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 1.6; }
    .no-js header .site-name {
      font-family: "Roboto", sans-serif; }
    .wf-active header .site-name {
      font-family: "Roboto", sans-serif; }

.page,
.post {
  text-align: left;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto; }
  .page-title,
  .post-title {
    text-align: center; }
  .page-date,
  .post-date {
    text-align: center;
    margin: 0; }
  .page-permalink,
  .post-permalink {
    font-size: 22px;
    color: #699; }
    .page-permalink:hover, .page-permalink:focus,
    .post-permalink:hover,
    .post-permalink:focus {
      color: #9BC2C2;
      outline: none; }
  .page-summary,
  .post-summary {
    margin: 0 auto;
    max-width: 400px; }
  .page-footer,
  .post-footer {
    margin-top: 1rem;
    padding: 1rem;
    background: #eee; }
    .page-footer a,
    .post-footer a {
      color: #9bc2c2; }

.billboard {
  min-height: 100vh; }
  @media screen and (min-width: 960px) {
    .billboard {
      display: flex;
      flex-direction: row; } }
  .billboard-content {
    padding: 1rem; }
    @media screen and (min-width: 960px) {
      .billboard-content {
        display: flex;
        width: 50%;
        order: 2;
        flex-direction: column;
        justify-content: center; } }
  .billboard-headline {
    font-size: 2rem; }
    @media screen and (min-width: 768px) {
      .billboard-headline {
        font-size: 3rem; } }
    @media screen and (min-width: 960px) {
      .billboard-headline {
        font-size: 4rem; } }
    .billboard-headline--subtitle {
      display: block;
      font-size: .5em; }
  .billboard-code {
    color: white;
    font-family: monospace;
    font-size: 1.4rem;
    white-space: pre-wrap; }
    .billboard-code-container {
      background: #111;
      padding: 1em;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      @media screen and (min-width: 960px) {
        .billboard-code-container {
          order: 1;
          width: 400px; } }
      @media screen and (min-width: 1024px) {
        .billboard-code-container {
          width: 50%; } }
    .billboard-code .json-key {
      color: #c4ff25; }
    .billboard-code .json-value {
      color: #c995cc; }

/*# sourceMappingURL=styles.css.map */
